.inventory-list {
  margin-top: 20px;
  margin-left:15rem;
  width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
