/* General Styles */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
  /* background-color: black; */
}

a {
	color: #333;
	text-decoration: none;
}

/* Header Styles */
header {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

main{
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	font-size: 18px;
	font-weight: bold;
}

.App{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.hero-image {
	/* background-image: url('hero-image.jpg'); */
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-image h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 0;
}

.hero-image p {
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

.cta-button {
	background-color: #008CBA;
	color: #fff;
	padding: 10px 20;
}
